parameters:

  level: 6
  paths:
    - app
    - core
    - tests

  excludePaths:
    - app/views/*
    - tests/Acceptance/_output/*
    - tests/Support/Data/*
    - tests/Support/AcceptanceTester.php
  
  scanDirectories:
    - tests/Support/_generated

  ignoreErrors:
    - '#Unsafe usage of new static\(\)\.#'
    #- '#Access to an undefined property Core\\Database\\ActiveRecord\\Model::\$[a-zA-Z0-9_]+.#'
    - '#Call to an undefined method ReflectionType::getName\(\).#'
    - '#PHPDoc tag @var with type Tests\\Support\\AcceptanceTester is not subtype of native type Codeception\\Module#'
    -
      message: '#Trait Tests\\Support\\_generated\\AcceptanceTesterActions is used zero times and is not analysed\.#'
      reportUnmatched: false
    -
      message: '#Call to an undefined method Tests\\Support\\AcceptanceTester::#'
      reportUnmatched: false
