parameters:

  level: 6
  paths:
    - app
    - core
    - tests

  excludePaths:
    - app/views/*
    - tests/Acceptance/_output/*
    - tests/Support/Data/*
  
  scanDirectories:
    - tests/Support/_generated

  ignoreErrors:
    - '#Unsafe usage of new static\(\)\.#'
    #- '#Access to an undefined property Core\\Database\\ActiveRecord\\Model::\$[a-zA-Z0-9_]+.#'
    - '#Call to an undefined method ReflectionType::getName\(\).#'
    - '#PHPDoc tag @var with type Tests\\Support\\AcceptanceTester is not subtype of native type Codeception\\Module#'
    - message: '#Call to an undefined method Tests\\Support\\AcceptanceTester::(wait|waitForText|seeCurrentUrlEquals|executeJS|scrollTo|dontSee)\(\)#'
      path: tests/Acceptance/*
    - message: '#Class Tests\\Support\\AcceptanceTester uses unknown trait Tests\\Support\\_generated\\AcceptanceTesterActions#'
      path: tests/Support/AcceptanceTester.php